body{
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root{
  min-height: 800px;
}
html, body, #app, #app>div {
  height: 100%
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-sub .woocommerce-Price-amount {
  font-size: 15px;
}

.table-sub tbody tr td:last-child input[type="checkbox"]{
  border: 1px solid black;
}

.single-product-link img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.table-panel-main select {
  -webkit-appearance: auto!important;
  appearance: auto!important;
  min-width: initial;
  max-width: initial;
  width: auto;
  /* margin: 0; */
  display: inline;
  margin-right: 10px;
}

.countsize {
  display: inline-block;
  height: 28px;
  padding: 3px;
  width: 50px;
  border: 1px solid #bdc4c9;
  margin-left: 5px;
}
table td:first-child, table th:first-child {
  border-left-width: 1px;
}

.stoke_buy_data {
  width: 36%;
  /* width: 40%; */
}

.stoke_buy_data  table {
  width: auto;
}

.stoke_buy_data.variation-0 , .stoke_buy_data.variation-1 , .stoke_buy_data.variation-1 table  {
  width: auto;
}



.stoke_buy_data.variation-1 .stoke_info_table tbody {
  display: block;
  column-count:unset;
}

.stoke_buy_data.variation-1 .stoke_info_table tbody tr:nth-child(odd) {
  border-right: 0px;
}


/* .table-sub tbody td:nth-child(6) {
  width: 10%;
} */

.stoke_info_table tbody {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-count: 2;
  column-gap: 5px;
  justify-content: space-between;
}

.stoke_info_table tbody tr {
  width: 48%;
  margin-right: 6px;
}

/* .stoke_info_table tbody tr:first-child,
.stoke_info_table tbody tr:nth-child(2) {
  padding-bottom: 10px;
} */

.stoke_info_table tbody tr {
  padding-bottom: 10px;
}

/* .stoke_info_table tbody tr:first-child,
.stoke_info_table tbody tr:nth-child(3) {
  border-right: 1px solid #DDDDDD;
} */
 
.stoke_info_table tbody tr:nth-child(odd) {
  border-right: 1px solid #DDDDDD;
}

.stoke_info_table tbody tr input {
  /* width: 70px; */
  display: inline-block;
    height: 28px;
    /* padding: 5px 10px; */
    padding-right: 5px;
    width: 50px;
    border: 1px solid #DDDDDD;
    text-align: center;
}

.stoke_info_table tbody tr input {
  outline: unset;
}

.stoke_info_table {
  border: none;
}

.stoke_info_table tbody tr td {
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.stoke_info_table tbody tr td.stock_number {
  background-color: #F7F7F7;
  margin: 0px 5px;
}

.add-to-cart-btndiv table {
  margin-top: 0px;
}

@media (max-width:1760px) {  
  /* .stoke_buy_data {
    width: 50%;
  } */
}

@media (max-width:1300px) {  
  /* .stoke_buy_data {
    width: 55%;
  } */
}

@media (max-width:1100px) { 
  
  .add-cart-btn {
      margin: 0px 5px;
      font-size: 13px;
      padding: 5px;
  }
  .table-sub table td,.table-sub table th {
  font-size: 11px;
}
/* .stoke_buy_data {
  width: 60%;
} */

}

@media (max-width:991px) {
.table-sub table td,.table-sub table th {
  font-size: 12px;
}
  .table-sub select {
      width: 50px;
  }
  /* table tr td:last-child {
    display: flex;
      align-items: center;
      justify-content: end;
  } */
  
  table tr td:last-child select , table tr td:last-child input {
    margin-top:0;
  }
  
  table tr td:last-child .add-cart-btn {
    font-size:10px
  }
  
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
table {
	width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  /* padding: 10px; */
  padding: 7px;
  text-align: left;
  vertical-align: top;
}

table tr td:nth-child(2) {
    text-align: center;
}
table tr th:last-child , table tr td:last-child {
	text-align: right;
}
.add-cart-btn {
	background-color: #000;
	color: #fff !important;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0px 10px;
}
/* .add-cart-btn a{
  color: #fff !important;
} */
.caret-icon {
	display: inline;
}

.caret-icon i {
	float: right;
	color: #7983d9;
}

.multipel-caret-icon {
	position: relative;
	top: 5px;
}

.multipel-caret-icon i {
	color: #e0e0e0;
}

.multipel-caret-icon .fa-caret-up {
	margin-top: -7px;
	margin-left: -10px;
}

.number-data {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 12px;
}

.number-caret-icon {
	display: inline;
	background-color: #f2f2f2;
}

.number-caret-icon .fa-caret-up {
	position: relative;
	top: -3px;
	left: 7px;
}

.number-caret-icon .fa-caret-down {
		position: relative;
		top: 3px;
		left: -3px
}

.pannel-top-data select {
	padding: 5px 7px;
	border: 1px solid #BDC4C9;
	height: 34px;
    border-radius: 3px;
    background: #fff;
    width: 150px;
    font-size: 14px;
    margin: 0px 6px;
    /*color: #BDC4C9;*/
    display: inline;
    max-width: initial;
    min-width: initial;
}

.show-data-text select {
  width: auto;
  max-width: initial;
  min-width: initial;
  display: inline;
}

.pannel-top-left-data h6 {
	display: inline;
	font-size: 16px;
	padding-left: 10px;
}

.pannel-top-center-data h6 {
	display: inline;
	font-size: 15px;
	color: #92949b;
  font-weight: 400;
  padding-right: 10px;
}

/* .search-box input {
	padding: 5px 10px;
	background-color:#f2f2f2;
	border:0;
	border-top: 1px solid #efefef;
} */

.search-box h6 {
	padding-left: 20px;
}

.pannel-top-data , .pannel-top-center-data , .pannel-top-right-data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap:20px;
}

.pannel-top-data {
	padding-bottom: 20px;
}

.pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination ul li {
	display: inline-block;
	    margin-right: 5px;
    padding: 3px 10px;
}

.pagination ul li a {
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.pagination ul li.active {
	border:1px solid black;
}


.pannel-add-to-cart-btn a {
	padding: 7px 30px;
	font-size: 15px;
	border:1px solid #BDC4C9;
	/* background-color: #f7f7f7; */
	text-decoration: none;
	text-transform: uppercase;
	color: #7b809a;
	letter-spacing: 1px;

}

.table-panel-main {
	padding:50px 30px;
  position: relative;
}

.main-wrapper {
  position: relative;
  height: unset !important;
  padding-top: 100px;
  display: block !important;
  /* z-index: 1001 !important; */
}

.table-sub tbody td:nth-child(6) p {
	color:#0f834d;
	margin:0;
}

.table-sub tbody td:last-child select {
	border: 1px solid #bdc4c9;
  background-color: #fff;
	padding:5px 15px;
}

.table-sub th {
	font-weight:600;
	color:#303133;
}

.table-sub td , .table-sub td a , .table-sub td span {
	font-weight:400;
	/* color:#777777; */
  color: #303133;
  font-size: 15px;
}

.loader-data{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-box input {
  height: auto;
  min-height: 0;
  margin: 0;
  line-height: normal;
  font-size: inherit !important;
  font-family: inherit;
  vertical-align: baseline;
  float: none !important;
  box-sizing: border-box;
  padding: 0 0.5em !important;
  margin: 0;
  height: 32px !important;
  background-color: #f2f2f2 !important;
  color: #43454b;
  font-weight: 400;
  border: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125) !important;
  -webkit-appearance: none;
  min-width: auto;
  width: 185px !important;
  margin-left: 6px;
  margin-bottom: 0 !important;
  display: inline;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* ensure it's above other content */
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loader-text {
    color: #fff;
    margin-top: 10px;
}

.pagination-container {
  display: flex;
  list-style: none;                                                                                                       
  padding: 0;
  margin: 20px 0;
}

.pagination-page, .pagination-previous, .pagination-next {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 4px;
}

.pannel-top-right-data .pagination {
  width: auto; 
}

.pagination-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-disabled:hover {
  background-color: transparent;
}


.style-color-wayh-bg{
  background-color: #fff;
}
.menu-wrapper header{
  opacity: 1 !important;
  z-index: 9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-to-cart-btndiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* .add-to-cart-btndiv table  {
  width: auto;
} */

.add-to-cart-btndiv table , .add-to-cart-btndiv table th , .add-to-cart-btndiv table td  {
  padding: 5px;
  text-align: center !important;
}

.add-to-cart-btndiv button {
  position: unset !important;
  top: 50%;
  transform: unset !important;
  /* right: 0; */
  left: 100%; 
  /* transform: translate(-50%,-50%); */
  width: max-content;
  margin: 0;
  flex-shrink: 0;
}

table tr td:last-child  {
  text-align: left;
  overflow: auto;
}

.add-to-cart-btndiv button a {
  color: #fff;
} 

.stoke_info_table p {
  margin-top: 0px;
}

.add-to-cart-btndiv  table {
  margin-top: 0px;
}

.text-green p {
  color:#0f834d;
}

.text-red p {
  color:red;
}

.text-blue p {
  color: #5a84c8;
}
/* table.stoke_info_table td {
  font-size: 14px;
} */


/* @media (max-width: 1350px) {
  .add-to-cart-btndiv button {
    position: unset;
    transform: unset;
    margin-top: 10px !important;
   }
   table tr td:last-child {
    text-align: right;
   }
} */

@media (max-width:1250px) {  
  .add-to-cart-btndiv {
    display: block;
  }
  .add-to-cart-btndiv button {
    margin-top: 10px;
  }
}

@media (max-width:1199px) {  
  .add-to-cart-btndiv {
    display: block;
  }
  .stoke_info_table tbody tr {
    width: 47%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1090px) { 
  .add-cart-btn {
    font-size: 12px !important;
    padding: 5px 10px;
  }
  table td, table th {
    padding: 8px 10px;
  }

}
@media (max-width: 991px) {

	.table-sub table th, .table-sub table td {
		font-size: 12px;
	}

  .table-sub tbody td:last-child select {
    width: auto;
    padding: 5px;
    margin: 0;
  }
  .table-sub tbody td:last-child input {
    margin: 0;
  }

  table tr td:last-child .add-cart-btn {
    padding: 5px;
    text-align: center;
  }
  .add-to-cart-btndiv {
    /* display: flex; */
    align-items: center;
    justify-content: end;
    gap: 4px;
  }

  

   .stoke_info_table tbody tr {
    width: auto;
   }

   .stoke_info_table tbody tr:first-child, .stoke_info_table tbody tr:nth-child(3) , .stoke_info_table tbody tr:nth-child(odd) {
    border: 0px
   }
}


@media (max-width: 767px) {
	.table-sub table th {
		display: none;
	}
	 table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
   table td {
   	display: block;
   	text-align: right;
   }

  .table-sub table th, .table-sub table td {
		font-size: 15px;
	}
   .table-panel-main {
   	padding: 30px 15px;
   }

   .pagination ul li {
   	margin: 0px;
   	margin-bottom: 10px;
   }
   /* .add-to-cart-btndiv {
    display: block;
   } */
   table tr td:last-child .add-cart-btn {
    padding: 5px;
   }

   .pannel-top-center-data {
    text-align: left;
   }

   .pannel-top-right-data .pagination ul {
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
   }

   .table-sub tbody td:last-child select {
    width: auto;
    padding: 5px;
   }

   .search-box h6:last-child {
    padding-left: 10px;
   }

   .table-sub tbody td:last-child input ,  .table-sub tbody td:last-child select {
    margin: 5px;
   }

   .add-to-cart-btndiv button {
    position: unset;
    transform: unset;
    margin-top: 10px !important;
   }
   /* table tr td:last-child {
    text-align: right;
   } */

   /* .add-to-cart-btndiv {
    display: block;
   } */
   .add-to-cart-btndiv table {
    width: 100%;
   }

   .stoke_buy_data {
    width: 100%;
   }

   /* .stoke_info_table tbody {
    display: block;
    column-count: unset;
   } */
   /* .stoke_info_table tbody tr {
    border: 0px !important;
   } */

   .add-to-cart-btndiv {
    display: block;
    text-align: right;
   }
   .add-to-cart-btndiv table td  {
    text-align: right !important;
   }

   .stoke_info_table tbody tr {
    width: 45%;
   }

   /* .stoke_info_table tbody tr:first-child, .stoke_info_table tbody tr:nth-child(3) {
    border-right: 1px solid #DDDDDD;;
   } */

   .stoke_info_table tbody tr:nth-child(odd) {
    border-right: 1px solid #DDDDDD;;
   }

   table tr td:nth-child(2) {
    /* text-align: left; */
    text-align: right;
   }

}



@media (max-width: 575px) {

	.add-cart-btn {
		font-size: 12px;
	}

	   .search-box h6 {
	   	padding-bottom: 20px;
	   	padding-left: 0px;
   }


   .add-to-cart-btndiv table {
    width: 100%;
   }

   .stoke_buy_data {
    width: 100%;
   }

   .stoke_info_table tbody {
    /* display: block; */
    column-count: unset;
   }
   .stoke_info_table tbody tr:first-child, .stoke_info_table tbody tr:nth-child(3) ,  .stoke_info_table tbody tr:nth-child(odd) {
    border: 0px;
   }
   .stoke_info_table tbody tr {
    width: 100%;
    margin-right: 0px;
    text-align: right;
   }
   table tr td:last-child {
    text-align: right;
   }
}

@media (max-width: 475px) {

	 .search-box h6 {
	 	display: inline-block;
	}
}

.add-to-cart-btndiv .countsize {
  border: 0px;
  width: 100%;
  margin: 0;
  height: unset;
  text-align: center;
  outline: unset;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  width: 100%;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
}
body {
  margin: 0;
  padding: 0;
}

/*---------- Shop Page ------------*/
.shop{
  margin-bottom: 40px;
}
.shop_wrap{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.shop_box{
  width: 16.66%;
  position: relative;
  min-height: 1px;
  margin-bottom: 30px;
  padding: 0px 15px;

}
.shop_box_wrap{
  display: inline-grid;
  display: -ms-inline-grid;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}
.shop_box a{
  text-decoration: none;
  height: 100%;
  display: inline-grid;
  display: -ms-inline-grid;
  flex-direction: column;
}
.shop_box .product_image {
  text-align: center;
  width: 100%;
  padding: 5px;
  min-height: 270px;
  transition: all 1s ease-in-out;
}  

.shop_box .product_image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product_text h3{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 10px;
}
.product_text p,.product_text p ins{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 0px;
}
.product_text p ins{
  text-decoration: none;
}
.shop_box .product_text{
  text-align: center;
  padding: 10px;
  height: 100%;
}

.shop_box .product_tag{
  clip-path: polygon(80% 0, 100% 20%, 0 20%, 15% 0);
  background: red;
  color: #fff;
  height: 180px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  font-size: 16px;
  line-height: 35px;
  transform: rotate(321deg);
  left: 20px;
}


/*--------- Shop filter ------*/
.shop_filter{
  margin-top: 20px;
}
.shop_wrap_filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  border: 1px solid #191919;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 15px;
  align-items: center
}

.search_btn{
  border-radius: 5px;
  padding: 11px 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  background: #191919;
  text-decoration: none;
  border: 0px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}
.search_btn:hover{
  color: #fff;
}
.shop_filter_left{
  position: relative;
}
.filter_box{
  position: absolute;
  top: 42px;
  visibility: visible;
  z-index: 9;
  background: #fff;
  min-width: 340px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 0px;
}

.filter_box_wrap{
  padding: 0px 15px;
}
.filter_box_wrap h3{
  color: #191919;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
  margin: 0px;
  text-transform: uppercase;
}
.shop_filter_left:hover .filter_box{
  visibility: visible;
}

.filter_title{
  border-bottom: 2px solid #191919;
}

.accordion_item{
  border-bottom: 2px solid #191919;
  padding: 15px 5px 15px 15px;
}

.accordion_item:last-child{
  border-bottom:0px;
}
.accordion_item h4{
  font-size: 15px;
  line-height: 25px;
  color: #191919;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-top: 0px;
}
.MuiAccordionSummary-expandIconWrapper{
  position: absolute;
  top: 0px;
  right: 0px;
}
.MuiSvgIcon-root{
  fill: #191919 !important;
  font-size: 30px !important;
  width: 25px !important;
  height: 25px !important;
}
.MuiAccordionDetails-root{
  padding: 10px 0px 0px 0px!important;
}
.accordion_item .MuiPaper-root{
  box-shadow: none;
  border: 0px;
}
.accordion_item .MuiButtonBase-root{
  padding: 0px;
  min-height: auto !important;
}

.accordion_item  .MuiAccordionSummary-content{
  margin:0px !important;

}
.accordion_item .Mui-expanded.MuiAccordionSummary-content{
  flex-direction: column;
}

.MuiChip-filled{
  font-size: 13px;
  font-weight: 500;
}
.MuiChip-deleteIcon{
  width: 18px !important;
  height: 18px !important;
}
.MuiChip-deletable{
  border-radius: 0px;
}
.MuiStack-root{
  flex-wrap: wrap;
  margin-top: 8px;
}
.MuiChip-filled{
  margin-right: 8px !important;
  margin-left: 0px !important;
  margin-bottom: 8px !important;
}
.filter_price input{
  width: 100%;
}
.filter_size{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -5px;
  padding: 0px;
  row-gap: 15px;
}

.filter_size li label{
  position: relative;
  margin-bottom: 0px;

}
.filter_size .size.selected  span{background-color: #2a2b2d;color: #fff;}
.filter_size li input {
  position: absolute;
  display: none;
  color: #fff !important;
}  
.filter_size li{
  width: max-content;
  list-style: none;
  padding: 0px 5px;
}
.filter_size li:last-child{
  margin-bottom: 0px;
}
.filter_size li span{
  border: 2px solid #2a2b2d;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #191919;
  padding: 3px 10px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.filter_color .color{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.filter_color .color.black{
  background: #000;
}
.filter_color .color.yellow{
  background: #f9ca34;
}
.filter_color .color.red{
  background: #e52d39;
}
.filter_color .color.purple{
  background: #764c75;
}
.filter_color .color.darkgreen{
  background: #274760;
}
.filter_color .color.blue{
  background: #6b8dcf;
}
.filter_color .color.green{
  background: #69b7bb;
}

.filter_price input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  cursor: pointer;
  width: 90%;
  height: 5px;
  accent-color: #191919;
}
.filter_price input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #191919;
  cursor: ew-resize;
}

.shop_wrap_filter .sorting select{
  appearance: none;
  background-image: url('../src/assets/Images/dropdown-arrow.svg') !important;
  background-color: #191919;
  display: inline-block;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center right 25px;
  color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  padding: 11px 25px;
  min-width: 200px;
  border-radius: 5px;
  text-transform: capitalize;
}
.filter_collection p{
  margin: 5px 0px;
}
.filter_price .MuiBox-root .MuiSlider-root{
  color: #2a2b2d;
}
.filter_price .MuiBox-root{
  width: 100%;
  padding: 0px 10px;
}
.filter_collection{
  display: flex;
  flex-wrap: wrap;
}
.filter_collection_item{
  width: 100%;
}
.child-category{
  margin-left: 20px;
}
.child_category_wrap{
  margin-top: 10px;
  border-top: 1px solid #000;
  padding-top: 10px;
}
/*----- Product Details -----*/
.product_detail_wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 50px;
}
.product_detail_left{
  width: 60%;
  padding-right: 45px;
  padding-left: 15px;
}
.product_detail_left .container{
  padding-left: 0px;
  padding-right: 0px;
}
.product_detail_right{
  width: 40%; 
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.product_title{
  color: #272727;
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 18px;
}

.product_price,.product_price p, .product_price p ins{
  font-size: 16px;
  line-height: 22px;
  color: #2a2b2d;
  font-weight: 600;
  margin-bottom: 15px;
}
.product_price ins{
  text-decoration: none;
}
.product_dec{
  margin-bottom: 25px;
}
.product_dec p{
  font-size: 17px;
  line-height: 27px;
  color: #7f7f7f;
}
.product_dec p br{
margin-bottom: 10px;
}
.product_dec p ul,.product_dec p ul li,.product_dec p ul li a{
  font-size: 16px;
  line-height: 20px;
  color: #7f7f7f !important;
}
.product_dec p ul li{
  margin-bottom: 10px !important;
  list-style: none;
  margin-left: 0px;
  color: #7f7f7f;
}
.product_dec p:last-child{
  margin-bottom: 0px;
}

.product_item_detail{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}
.product_item_sku h3,.product_dec h3{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.product_dec h3{
  margin-bottom: 0px;
}
.product_dec .MuiAccordionSummary-expandIconWrapper{
  top: auto;
}
.product_dec .MuiPaper-elevation{
  box-shadow: none;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  border-radius: 0px !important;
}
.product_dec .MuiAccordionSummary-root{
  padding: 0px;
  min-height: 0px !important;
}
.product_dec .MuiAccordionSummary-content{
  margin: 13px 0px !important;
}
.product_dec .MuiAccordionDetails-root{
  padding: 0px 0px 10px 0px !important;
}

.product_item_sku h3 span,.product_dec h3 span{
  font-size: 20px;
  line-height: 16px;
  margin-right: 5px;
}
.product_item_right .btn{
  background: #272727;
  border: 0;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-family: var(--font-roboto) !important;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 40px;
  text-transform: uppercase;
  width: max-content;
  margin-left: 30px;
  cursor: pointer;
}

.product_item_detail .product_item_left p{
  font-size: 14px;
  line-height: 18px;
  color: #2a2b2d;
  font-weight: 500;
  display: inline;
}

.product_order{
  display: flex;
  flex-wrap: wrap;
}
.product_order_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.product_order_item .circle
{
  width: 20px;
  height: 20px;
  background: #2a8445;
  border-radius: 50%;
  border:2px solid #000;
}
.product_order_item.green p{
  border-bottom: 3px solid #2a8445;
}
.product_order_item.red p{
  border-bottom: 3px solid #f54f51;
}
.product_order_item.orange p{
  border-bottom: 3px solid #fc9021;
}
.product_order_item.yellow p{
  border-bottom: 3px solid #efc543;
}
.product_order_item.blue p{
  border-bottom: 3px solid #58adf6;
}
.price_table{
  margin-bottom: 22px;
}
.price_table table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.price_table .price_table_head {
  background: #272727;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  width: 100%;
}
.price_table_price{
  background: #ededed;
  display: flex;
  width: 100%;
}
.size_blank .price_table_bottom_deatil{
  padding: 20px;
}
.price_table_bottom_deatil{
  background: #ededed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px 20px 40px;
}
.price_table .price_table_head th{
  width: 16.66%;
  padding: 18px;
  text-align: center;
  border: 0px;
  font-size: 16px;
  font-weight: 500;
}
.price_table  .price_table_price td{
  width: 16.66%;
  padding: 10px 5px;
  border: 0px;
}
.price_table  .price_table_price td:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #272727;
}
.price_table .price_table_head tr{
  background: #ededed;
  display: flex;
  width: 100%;
}
.price_table .price_table_head th:first-child{
  border-radius: 10px 0px 0px 0px;
}
.price_table .price_table_head th:last-child{
  border-radius: 0px 10px 0px 0px;
}
.price_table table{
  border-spacing: 0px;
  border: 0px;
}
.price_table_price .price{
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  border-bottom: 5px solid #58adf6;
}
.price_table_price .price.blue{
  border-bottom: 5px solid #58adf6;
}
.price_table_price .price.green{
  border-bottom: 5px solid #2a8445;
}
.price_table_price .price.orange{
  border-bottom: 5px solid #fc9021;
}
.price_table_price .price.red{
  border-bottom: 5px solid #f54f51;
}

.price_table_price .price input{
  width: 50px;
  border: 0px;
  font-size: 16px;
}
.price_table_price .price input:focus-visible{
  outline: 0px;
}
.price_table_price .price input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}
.price_total{
  display: flex;
  align-items: center;
}
.product_item_sku p{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  font-weight: 400;
  width: 85%;
  color: #000;
  display: inline-block;
  margin-left: 12px;
}
.product_item_sku p span{
  color: #2a2b2d;
  width: 18%;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}

.product_item_sku{
  margin-top: 20px;
  margin-bottom: 25px;
}
.price_table_items p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

.price_total p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.price_table_items p ins{
  text-decoration: none;
}
.table_price{
  margin-right: 20px;
}
.social_share{
  display: flex;
  align-items: center;
}
.social_share a{
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 20px;
}
.social_share a img{
  object-fit: contain;
  height: 100%;
}

.social_share p{
  color: #2a2b2d;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  width: 12.5%;
  font-weight: 500;
}

.social_share_wrap{
  width: 87.5%;
}
.product_nav_main .product_item .product_item_image{
  height: 760px;
  display: block;
}
.product_nav_main .product_item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}
.product_thumb_slider .product_slider_item{
  height: 150px;
}


.product_nav_main{
  margin-bottom: 20px;
}
.product_thumb_slider .product_slider_item a:focus-visible{
  outline: 0px;
}
.product_thumb_slider .slick-slide{
  padding: 0px 15px;
  border: 0px !important;
}
.product_thumb_slider .slick-list{
  margin: 0px -15px;
  padding: 0px !important
}

.product_slider{
  padding: 0px 100px;
  margin-bottom: 70px;
}

.product_slider .slick-list{
  margin: 0px -50px;
}

.product_slider_item img{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  object-fit: contain;
  padding-bottom: 7px;
}
.product_slider_item a:focus-visible{
  outline: 0px;
}
a:focus-visible{
  outline: 0px;
}


.related_product_slider .slick-prev, .related_product_slider .slick-next {
  background: transparent;
  background-repeat: no-repeat !important;
  background-size: contain;
  bottom: 0;
  cursor: pointer;
  pointer-events: all;
  display: block;
  font-size: 0;
  height: 18px !important;
  width: 18px !important;
  outline: none;
  position: absolute;
  border: 0px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.related_product_slider .slick-next:hover,.related_product_slider .slick-prev:hover{
  background-size: contain;
}
.related_product_slider .slick-next{
  background-image: url('../src/assets/Images/arrow-next.png') !important;
  right: -60px !important;
}
.related_product_slider .slick-prev{
  background-image: url('../src/assets/Images/arrow-prev.png') !important;
  left: -60px !important;
}
.related_product_slider .slick-list{
  margin: 0px -10px;
}
.slick-prev:before, .slick-next:before{
  font-size: 0px !important;
}
.related_product_slider .slick-slide{
  padding: 0px 10px;
}

.related_product_item img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.related_product_slider{
  padding: 0px 60px;
  margin-bottom: 80px;
}

.related_product_item a:focus-visible{
  outline: 0px;
}

.filter_collection_item input{
  border: 1px solid #191919;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: none;
  color: #121212;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 12px;
}
.filter_collection_item input{
  display: none;
}
.filter_collection_item label{
  position: relative;
}
.filter_collection_item label:before {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 0px;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-right: 12px;
  position: absolute;
  vertical-align: middle;
  width: 15px;
  flex-shrink: 0;
  left: 0px;
  top: 0px;
}
.filter_collection_item{
  margin-bottom: 8px;
}
.filter_collection_item label{
  padding-left: 24px;
  line-height: 18px;
  color: #191919;
  font-size: 15px;
  font-weight: 500;
}

.filter_collection_item input:checked+label:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: block;
  height: 8px;
  left: 6px;
  position: absolute;
  top: 3px;
  transform: rotate(45deg);
  width: 4px;
}
.filter_collection_item input:checked+label:before {
  background-color: #191919;
  border-color: transparent;
}

.skeleton_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.skeleton_item{
  width: 16.66%;
  position: relative;
  min-height: 1px;
  margin-bottom: 40px;
  padding: 0px 15px;
}
.loade_wrap{
  position: relative;
  z-index: 9;
  margin: 0 auto;
  text-align: center;
}

.product_detail_slider{
  width: 100%;
  display: flex;
}
.product_nav_main{
  width: 80%;
}
.product_thumb_slider{
  width: 20%;
  padding-left: 20px;
}
/* ------------ skeltone -------------- */

.movie--isloading {
  height: auto;
  overflow: hidden;
  width:100%;
}

.movie--isloading .loading-image {
  height: 270px;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
          animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #f7f7f7;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.movie--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.shop_wrap .movie--isloading .loading-content{
  background: transparent;
}
.shop_wrap .movie--isloading .loading-content .loading-sub-text {
  margin-bottom: 10px;
}
.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}




@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}


@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}


.table-sub p{
  font-size: 15px;
  line-height: 20px;
}
.loade_wrap h5{
  margin-top: 50px;
  font-size: 25px;
  line-height: 30px;

}

/*----------- Product Deatil Skeleton -----------*/

.prouctdetail_skeleton_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.prouctdetail_skeleton_item_left{
  width: 60%;
  position: relative;
  min-height: 1px;
  margin-bottom: 40px;
  padding: 0px 45px 0px 15px;
  display: flex;
}

.prouctdetail_skeleton_item_right{
  width: 40%;
  position: relative;
  min-height: 1px;
  margin-bottom: 40px;
  padding: 0px 15px;
}
.prouctdetail_skeleton_item_left .imagebox{
  width: 80%;
}
.prouctdetail_skeleton_item_left .slider_skeleton{
  width: 20%;
  flex-direction: column;
}

.prouctdetail_skeleton_item_left .movie--isloading .loading-image{
 height: 890px;
}
.prouctdetail_skeleton_item_right .movie--isloading .loading-content .loading-main-text{
  width: 100%;
  border-radius: 0px;
}
.prouctdetail_skeleton_item_right .movie--isloading .loading-content{
  flex-direction: column;
  height: 700px;
  padding: 30px 25px 30px 15px;
  justify-content: flex-start;
}
.prouctdetail_skeleton_item_right .movie--isloading .loading-content .loading-text-container{
  width: 100%;
  justify-content: unset;
}
.movie--isloading .loading-content .loading-sub-text{
  height: 12px;
  width: 100%;
  border-radius: 0px;
  margin-bottom: 20px;
}

.slider_skeleton{
  display: flex;
  flex-wrap: wrap;
}
.slider_skeleton_item{
  width: 100%;
  position: relative;
  min-height: 1px;
  margin-bottom: 10px;
  padding: 0px 15px;
}
.related_slider_skeleton{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin: 30px -15px 0px -15px;
}
.related_slider_skeleton .slider_skeleton_item{
  width: 14.28%;
}
.slider_skeleton_item .movie--isloading .loading-image {
  height: 170px;
}

.related_slider_skeleton .slider_skeleton_item .movie--isloading .loading-image {
  height: 200px;
}
.back_btn{
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 40px;
  z-index: 99;
  position: relative;
}
.back_btn img{
  height: 20px;
}
.product_deatail_skeleton .product_title .loading-main-text{
  height: 40px;
}
.product_deatail_skeleton .price_box{
  width: 100%;
}
.prouctdetail_skeleton_item_right .product_deatail_skeleton .loading-content .price_box .loading-main-text{
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
  background: #dfdfdf;
}

.prouctdetail_skeleton_item_right .movie--isloading .loading-content  .price_box .loading-sub-text{
  height: 60px;
}
.product_deatail_skeleton .order_status{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.product_deatail_skeleton  .order_status .loading-main-text{
  width: 15% !important;
  margin-right:20px;
}

.product_deatail_skeleton  .product_info{
  width: 100%;
  margin-bottom: 20px;
  
}
.prouctdetail_skeleton_item_right .movie--isloading  .loading-content .product_info .loading-main-text {
  width: 12%;
  height: 17px;
  margin-bottom: 15px;
}

.prouctdetail_skeleton_item_right .movie--isloading  .loading-content .product_desc_sku{
  display: flex;
}
.prouctdetail_skeleton_item_right .movie--isloading  .loading-content .product_desc_sku .loading-main-text{
  width: 18%;
  margin-right: 18px;
  height: 10px;
  margin-bottom: 10px;
}
.product_deatail_skeleton  .product_desc,.product_deatail_skeleton .product_title{
  width: 100%;
}
.product_deatail_skeleton .product_title{
  margin-bottom: 10px;
}
.prouctdetail_skeleton_item_right .movie--isloading  .loading-content .product_desc .loading-main-text {
  width: 18%;
  height: 17px;
  margin-bottom: 15px;
}

.prouctdetail_skeleton_item_right .movie--isloading  .loading-content .product_desc_text .loading-main-text{
  width: 100%;
  margin-right: 18px;
  height: 10px;
  margin-bottom: 10px;
}

.price_table_items .price_quantity{
  border: 0px;
  padding: 10px;
  width: 40%;
  border-radius: 0px;
  font-size: 14px;
  text-align: center;
}

.price_table_items .price_quantity[type=number]::-webkit-inner-spin-button, 
.price_table_items .price_quantity[type=number]::-webkit-outer-spin-button
 {
  opacity: 1;
  -webkit-appearance: inner-spin-button;
}
.price_table_items .price_quantity:focus{
  outline: none;
}

/*------------- Responsive css ----------*/
@media (min-width: 2000px) {
  /*------ Product slider-----*/
  .product_slider .product_slider_item {
      height: 500px;
  }
}
@media (max-width: 1440px) {
  /*---------- shop ---------*/
  .shop_box {
    width: 20%;
  }

}

@media (max-width: 1399px) {
  /*---------- shop ---------*/
  .shop_box{
      width: 20%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .product_item_detail{
      flex-direction: column;
  }

  .product_item_sku p span,.skeleton_item{
      width: 25%;
  }
  .shop_box .product_image{
    min-height: 200px;
  }

}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /*---------- shop ---------*/
  .shop_box{
      width: 25%;
  }
  .product_text h3{
      font-size: 16px;
      margin-bottom: 8px;
  }
  .product_text p,.product_text p ins{
      font-size: 16px;
  }
  .movie--isloading .loading-image {
    height: 240px;
  }
  /*----------- Product Deatil Skeleton -----------*/

  .slider_skeleton_item .movie--isloading .loading-image {
    height: 200px;
  }
  .related_slider_skeleton{
    margin: 0px -15px 0px -15px;
  }
  .related_slider_skeleton .slider_skeleton_item .movie--isloading .loading-image {
    height: 150px;
  }
  .prouctdetail_skeleton_item_left .slider_skeleton_item {
    width: 100%;
  }

  /* .product_detail_left {
    width: 50%;
  }
  .product_detail_right {
    width: 50%;
  } */
  .product_nav_main .product_item .product_item_image {
    height: 600px;
  }
  .price_table_price .price{
    padding: 12px;
  }
  .price_table_price .price input{
    width: inherit;
    text-align: center;
  }
  .price_table_bottom_deatil{
    padding: 5px 20px 20px 20px;
    align-items: flex-start;
    flex-direction: column;
  }
  .product_order_item{
    margin-bottom: 15px;
  }
  .price_table .price_table_head th {
    width: 25%;
  }
  .price_table .price_table_price td {
    width: 25%;
  }

  .prouctdetail_skeleton_item_left{
    padding: 0px 15px 0px 15px;
  }
  .size_blank .price_table_bottom_deatil {
    padding: 15px;
  }
  .product_item_right .btn{
    padding: 10px 20px;
  }
  .product_thumb_slider .product_slider_item {
    height: 120px;
  }
  /*------ product detail skeleton ----*/
  .prouctdetail_skeleton_item_left .movie--isloading .loading-image {
    height: 665px;
  }
  .slider_skeleton_item .movie--isloading .loading-image{
    height: 125px;
  }
  .prouctdetail_skeleton_item_right .movie--isloading .loading-content{
    height: 665px;
  }

}

@media (max-width: 991px) {
  /*---------- shop ---------*/
  .shop_box,.skeleton_item{
      width: 33.33%;
      margin-bottom: 20px;
  }
  .product_text h3{
      margin-bottom: 6px;
  }

  .shop_box .product_tag{
      left: 20px;
  }
  .shop_wrap_filter{
    margin-bottom: 30px;
  }
  .filter_box{
    top: 45px;
  }
  /*------- product detail --------*/
  .product_detail_left,.product_detail_right{
    width: 100%;
  }
  .product_detail_left{
    padding-right: 15px;
  }
  .product_detail_right{
    margin-top: 10px;
  }
  .product_item_detail{
    margin-top: 25px;
  }
  .social_share{
    margin-top: 30px;
  }
  .product_item_sku{
    margin-top: 15px;
  }
  .product_item_sku p span{
      width: 20%;
  }

  .shop_box .product_image{
    min-height: 220px;
  }
  .movie--isloading .loading-image {
    height: 200px;
  }
  /*----------- Product Deatil Skeleton -----------*/
  .prouctdetail_skeleton_item_left,.prouctdetail_skeleton_item_right {
    width: 100%;
  }
  .prouctdetail_skeleton_item_right .movie--isloading .loading-content{
    padding: 30px 15px 30px 15px;
    height: auto;
  }
  .related_slider_skeleton .slider_skeleton_item .movie--isloading .loading-image {
    height: 130px;
  }
  .prouctdetail_skeleton_item_left .slider_skeleton_item {
    width: 100%;
    padding: 0px;
  }
  .related_slider_skeleton .slider_skeleton_item {
    width: 25%;
  }
  .related_slider_skeleton .slider_skeleton_item:last-child{
    display: none;
  }
  .related_product_slider{
    padding: 0px 50px;
  }
  .related_product_slider .slick-next{
    right: -70px !important;
  }
  .related_product_slider .slick-prev{
    left: -70px !important;
  }


  .product_dec p{
    margin-left: 5px;
  }
  .product_thumb_slider .product_slider_item {
    height: 120px;
  }
  .product_detail_wrapper{
    margin-bottom: 30px;
  }
  .product_nav_main .product_item .product_item_image {
    height: 650px;
  }

  .prouctdetail_skeleton_item_left{
    padding: 0px 15px 0px 15px;
  }
  /*---------- product detail skeleton ------------*/
  .prouctdetail_skeleton_item_left .movie--isloading .loading-image {
    height: 690px;
  }
  .slider_skeleton_item .movie--isloading .loading-image {
    height: 130px;
  }
  .prouctdetail_skeleton_item_left .imagebox{
    padding-right: 20px;
  }
  .related_slider_skeleton .slider_skeleton_item:nth-child(5), .related_slider_skeleton .slider_skeleton_item:nth-child(6){
    display: none;
  }
  .related_slider_skeleton{
    margin: 20px -15px 0px -15px;
  }
}

@media (max-width: 767px) {
  /*------ shop ------*/
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .shop_box,.skeleton_item{
      width: 50%;
  }
  .shop_box .product_tag{
      height: 160px;
      width: 120px;
      font-size: 14px;
      line-height: 32px;
  }
  .shop_box,.skeleton_item{
      margin-bottom: 10px;
  }
  .product_text h3{
      margin-bottom: 8px;
  }

  /*----- shop filter ------*/
  .shop_wrap_filter{
    margin-bottom: 20px;
  }
  .filter_box{
    left: 0px;
    min-width: auto;
    margin: 0px 15px;
    top: 85px;
  }
  .shop_filter_left {
    position: unset;
}
  .filter_price .MuiBox-root {
    width: 100%;
}
  .shop_wrap_filter .sorting select{
      min-width: 150px;
      font-size: 14px;
      background-position: center right 15px;
  }
  .search_btn{
      font-size: 14px;
      padding: 11px 15px;
  }

  /*------- product detail --------*/
  .product_nav_main{
    margin-bottom: 0px;
    width: 70%;
  }
  .product_thumb_slider{
    width: 30%;
    padding-left: 10px;
  }
  .product_title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .price_table{
      overflow-x: auto;
  }
  /* .product_price,.product_price p, .product_price p ins{
      font-size: 25px;
      line-height: 30px;
  } */
  .product_dec p{
      font-size: 16px;
      line-height: 20px;
  }
  .product_item_detail{
      flex-direction: column;
  }

  .product_order_item{
      margin-bottom: 10px;
  }
  .product_item_sku p span{
      width: 40%;
  }
  .social_share p{
      width: 45%;
  }
  .price_table_price .price{
      padding: 15px;
  }
  /*---- related product slider ----*/
  .related_product_slider {
    padding: 0px 25px;
    margin-bottom: 40px;
  }
  .product_detail_wrapper{
    margin-bottom: 40px;
    padding-bottom: 0px;
    margin:0px
  }
  .related_product_slider .slick-prev{
    left: -25px !important;
  }
  .related_product_slider .slick-next{
    right: -25px !important;
  }
  .shop_box .product_image {
    min-height: 180px;
  }

  .filter_collection_item {
    width: 100%;
  }
  .movie--isloading .loading-image {
    height: 190px;
  }
  /*----------- Product Deatil Skeleton -----------*/
  .prouctdetail_skeleton_item_left .movie--isloading .loading-image {
    height: 260px;
  }
  .slider_skeleton_item .movie--isloading .loading-image {
    height: 160px;
  }
  .slider_skeleton_item .movie--isloading .loading-image {
    height: 80px;
  }

  .prouctdetail_skeleton_item_left .slider_skeleton_item:last-child,.prouctdetail_skeleton_item_left .slider_skeleton_item:nth-child(4){
    display: none;
  }
  .prouctdetail_skeleton_item_left{
    margin-bottom: 20px;
  }
  .related_slider_skeleton .slider_skeleton_item {
    width: 33.33%;
  }
  .related_slider_skeleton .slider_skeleton_item:nth-child(4){
    display: none;
  }
  .product_nav_main .product_item .product_item_image{
    height: auto;
  }
  .product_thumb_slider .product_slider_item {
    height: 80px;
  }
  .product_detail_right{
    margin-top: 30px;
    padding: 0px;
  }
  .price_table_bottom_deatil{
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 20px 20px 30px;
  }
  .product_item_right .btn{
    padding: 10px 20px;
    font-size: 14px;
  }
  .size_blank .price_table_bottom_deatil {
    padding: 15px;
    font-size: 14px;
  }
  .price_total{
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
  }
  .price_table_items p,.price_total p,.product_item_sku p span,.product_item_sku p{
    font-size: 14px;
    line-height: 18px;
  }
  .product_item_detail .product_item_left p {
    font-size: 13px;
  }
  .product_item_sku h3, .product_dec h3{
    font-size: 15px;
  }
  .product_dec p ul, .product_dec p ul li, .product_dec p ul li a{
    font-size: 14px;
    line-height: 18px;
  }
  .product_item_sku{
    margin-bottom: 20px;
  }
  .product_price, .product_price p, .product_price p ins{
    font-size: 14px;
    line-height: 18px;
  }
  .product_dec p {
    font-size: 14px;
    line-height: 20px;
  }
  .price_table .price_table_price td{
    width: 30%;
    font-size: 14px;
  }
  .price_table .price_table_head th {
    width: 30%;
    font-size: 14px;
  }
  .price_table_price .price input{
    width: inherit;
    border: 0px;
    font-size: 14px;
    text-align: center;
  }
  .related_product_slider .slick-prev, .related_product_slider .slick-next{
    height: 15px !important;
    width: 15px !important;
  }
  .related_slider_skeleton .slider_skeleton_item .movie--isloading .loading-image {
    height: 100px;
  }
  .product_deatail_skeleton .order_status .loading-main-text{
    margin-right: 10px;
  }
  .prouctdetail_skeleton_item_right{
    margin-bottom: 20px;
  }
  .prouctdetail_skeleton_item_right .movie--isloading .loading-content .product_info .loading-main-text {
    width: 14%;
    height: 15px;
  }
  .prouctdetail_skeleton_item_right .movie--isloading .loading-content .product_desc_sku .loading-main-text{
    width: 20%;
    height: 12px;
  }
  .prouctdetail_skeleton_item_right .product_deatail_skeleton .loading-content .price_box .loading-main-text {
    height: 40px;
  }
  .prouctdetail_skeleton_item_right .movie--isloading .loading-content .product_desc_sku .loading-main-text:last-child{
    width: 40%;
  }
}

@media (max-width: 320px) {
  /*---------- shop -----------*/
  .shop_box .product_tag{
      height: 150px;
      width: 100px;
      font-size: 14px;
      line-height: 32px;
      left: 35px;
  }
  /*------ shop filter --------*/
  .filter_box{
    min-width: 290px;
  }
  .filter_size li {
    width: 50%;
  }
}


.product_item_image {
  height: auto;
  transition: transform 0.3s ease;
}

.product_item.zoomed .product_item_image {
  transform: scale(1.1);
}